<div class="parent">
    <div class="div1">
        <img src="assects/login.png" alt="Login Image" height="100%" width="100%">
    </div>

    <div class="div2">
        <div class="img">
            <img src="assects/logo.png" alt="Logo">
        </div>
        <div class="login">
            <h3 class="mb-4">Log In</h3>
            <div class="fields">
                <input type="text" class="form-control" placeholder="Email Address">
                <input type="password" class="form-control" placeholder="Password">
                <button (click)="login()" class="form-control btn btn-primary">Log In</button>
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
