<div class="plans-page min-vh-100">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="input-group custom-search-input">
                <span class="input-group-text bg-white border-end-0">
                    <i class="fas fa-search text-muted"></i>
                </span>
                <input type="text" class="form-control border-start-0" placeholder="Search User">
            </div>
            <button class="btn btn-primary" (click)="openModal(content)"><i class="fa-regular fa-plus me-2"></i>
                Add</button>
        </div>

        <div class="table-responsive">
            <table class="table align-middle table-hover bg-white rounded">
                <thead class="table-light">
                    <tr>
                        <th style="width: 40px;"><input type="checkbox" class="form-check-input custom-checkbox">
                        </th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td><input type="checkbox" class="form-check-input custom-checkbox"></td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <img src="assects/user.png" class="rounded" width="30" height="30" alt="Plan Icon">
                                <div>
                                    <div class="fw-semibold">{{ user.name }}</div>
                                    <small class="text-muted">{{ user.email }}</small>
                                </div>
                            </div>
                        </td>
                        <td>${{ user.amount }}</td>
                        <td>{{ user.validity }}</td>
                        <td>{{ user.bookings }}</td>

                        <td>
                            <i class="fa-regular fa-pen-to-square me-3 cursor-pointer"></i>
                            <i class="fa-solid fa-arrow-right text-secondary cursor-pointer"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-1">
            <div class="d-flex align-items-center">
                <select class="form-select w-auto">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>
                <span class="ms-2">Items per page</span>
            </div>
            <div>
                <span>1-10 of 200 items</span>
                <button class="btn btn-outline-secondary btn-sm mx-2" disabled>‹</button>
                <span>1 of 44 pages</span>
                <button class="btn btn-outline-secondary btn-sm ms-2">›</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="far fa-folder-open me-2"></i>New User
        </h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSave(modal)">
            <div class="mb-3">

                <input type="text" class="form-control mb-2" placeholder="User name" formControlName="userName" />
                <div *ngIf="userForm.get('userName')?.touched && userForm.get('userName')?.invalid"
                    class="text-danger small">
                    <div *ngIf="userForm.get('userName')?.errors?.['required']">User name is required.</div>
                    <div *ngIf="userForm.get('userName')?.errors?.['minlength']">User name must be at least 3
                        characters.</div>
                </div>

                <input type="text" class="form-control mb-2" placeholder="Role" formControlName="role" />
                <div *ngIf="userForm.get('role')?.touched && userForm.get('role')?.invalid" class="text-danger small">
                    <div *ngIf="userForm.get('role')?.errors?.['required']">role is required.</div>
                </div>

                <input type="text" class="form-control mb-2" placeholder="Phone" formControlName="phone" />
                <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid" class="text-danger small">
                    <div *ngIf="userForm.get('phone')?.errors?.['required']">Phone is required.</div>
                    <div *ngIf="userForm.get('phone')?.errors?.['pattern']">Phone must be 10 digits.</div>
                </div>

                <input type="text" class="form-control" placeholder="Email" formControlName="email" />
                <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid" class="text-danger small">
                    <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>

            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSave(modal)"
            [disabled]="userForm.invalid">Save</button>
    </div>
</ng-template>