.parent {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.container-fluid {
  min-height: 100vh;
  padding: 4 !important;
}

.bg-white {
  height: 100%;
}

.div1 {
  border-bottom: 1px solid #eee;
}

.div2 {
  overflow-y: auto;
  padding-top: 1rem;
}

.tab-list {
    display: flex;
    gap: 32px;
    padding: 12px 24px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.tab-list li {
    cursor: pointer;
    padding-bottom: 8px;
    position: relative;
    color: #6c757d;
    font-weight: 500;
}

.tab-list li.active {
    color: #6f42c1;
}

.tab-list li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6f42c1;
    border-radius: 4px;
}